* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: white;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

hr {
  font-weight: bold;

  background: #111827;
  margin-bottom: 10px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #8b8f95;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
}
